<div class="description">
    <p>Flashy Words is web app designed to help people learning new languages.
        It allows users to create custom flashcards for new words
        and then it translates those words to their native language. In addition, it
        provides the option to add an image to the card, for users who prefer a more
        visual approach to learning and memorization. Users will be able to keep track
        of their expanding vocabulary, quiz themselves and view their progress over
        time.
    </p>
</div>

